<header class="card mb-5">
    {{#with navigation}}
    <nav class="navbar card-body">
        <h1 class="navbar-brand">{{Logo}}</h1>
        <ul class="nav d-flex">
            {{#each links}}
            <li class="nav-item">
                {{>nav-link href=href text=text}}
            </li>
            {{/each}}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
    {{/with}}
</header>
<main>
    <section>
        {{#with newsBlock}}
        <h2 class="text-center">{{title}}</h2>
        <div class="row gx-2 gy-3">
            {{#each cards}}
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        {{title}} {{>badge top=isTop isRound=true}} {{>badge new=isNew isRound=true}}
                    </div>
                    <div class="card-body">
                        {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
        {{#with goodsBlock}}
        <nav class="mb-5">
            <ul class="nav nav-tabs">
                {{#each tabs}}
                <li class="nav-item">
                    {{>nav-link active=isActive disabled=isDisabled text=text}}
                </li>
                {{/each}}
            </ul>
        </nav>
        <div class="row gx-2 gy-4">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <img src="{{image}}" alt="{{title}}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">{{title}} {{>badge hot=isHot isRound=true}} {{>badge new=isNew isRound=true}}</div>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="my-5">
    <section class="card text-bg-dark">
        {{#with subscribe}}
        <nav class="navbar card-body">
            <div>
                <h2>{{header}}</h2>
                <p>{{description}}</p>
            </div>
            <div class="d-flex">
                {{#each buttons}}
                    {{>bs-btn isLink=true btn-type='btn-primary mx-1' href=link text=text}}
                {{/each}}
            </div>
        </nav>
        {{/with}}
    </section>
    <hr class="my-5">
    <section class="card text-bg-success">
        {{#with service}}
        <div class="card-body text-center">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
                {{>bs-btn isLink=true btn-type='btn-primary mx-1' href=link text=text}}
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="my-5">
    <section>
    {{#with footer}}
        <div class="row g-4">
            {{#each this}}
            <div class="col-2 nav flex-column">
                {{#each this}}
                <div class="nav-item">
                    {{>nav-link href=link text=text}}
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    {{/with}}
    </section>
</main>