{{#if isLink}}
<a href="{{href}}" class="btn {{btn-type}} {{>bs-btnClass}}" {{#if blank}} target="_blank"{{/if}}>{{text}}</a>
{{else}}
<button class="btn {{btn-type}} {{>bs-btnType}}">{{text}}</button>
{{/if}}